In [3]:
import numpy as np
import pandas as pd

import tensorflow as tf

In [4]:
CATEGORIES = ["N","P","Q"]

In [7]:
df = pd.read_csv('test.csv')

In [ ]:
texts = []
for i in range(len(df['Id'])):
    fn = df['Id'][i]
    folder = fn.split("-")[0]
    f = open('D:/BallAITH/test-data/'+folder+'/'+fn, "rb")
    texts.append(f.read())
df['text'] = texts

In [8]:
df

               Id  Prediction
0    00002-02.txt         NaN
1    00002-04.txt         NaN
2    00002-06.txt         NaN
3    00002-07.txt         NaN
4    00002-08.txt         NaN
..            ...         ...
390  00053-26.txt         NaN
391  00053-27.txt         NaN
392  00053-28.txt         NaN
393  00053-29.txt         NaN
394  00053-30.txt         NaN

[395 rows x 2 columns]

In [1]:
OutcomeModel = tf.keras.models.load_model('my_modelOutcome5')
InterventionModel = tf.keras.models.load_model('intervention')

NameError: name 'tf' is not defined

In [ ]:
resultIntervention = InterventionModel.predict(df['text'])
resultIntervention = np.argmax(resultIntervention, axis=-1)
resultOutcome = OutcomeModel.predict(df['text'])
resultOutcome = np.argmax(resultOutcome, axis=-1)

In [ ]:
result_df = df.copy()
result_df["Predictions"] = resultIntervention
result_df["Predictions"] = result_df["Predictions"].replace([0,1,2],['P','P','P'])
result_df["Predictions2"] = resultOutcome
result_df["Predictions2"] = result_df["Predictions2"].replace([0,1,2],['P','P','P'])

In [12]:
df['Prediction'] = "Q"+"Q"

In [13]:
out = df[['Id','Prediction']]

In [14]:
out.to_csv("outPP.csv",index=False)